:root {
    --vermelho: #e50914;
    --preta: #141414;
    --color1: #96c5bf;

    --color2: #435d54;
    --color2-transparent: #435d547e;
    --color3: #9d8863;
    --color4: #d0cdb2;

    --color5: #393939;
    --color6: #c47c63;
    --color7: #645a41;
    --color8: #898055;
    --color9: #bfbdb0;
}

@font-face {
    font-family: 'Platonick';
    src: url("../assets/fonts/platonick-normal.regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */
body {
    background-color: var(--color3);
    font-family: 'Platonick', 'Arial', Times, serif;
    color: var(--color5);
    font-weight: 100;
}

/* header*/
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--color1);
    font-size: 55px;
    cursor: default;
    font-weight: 100;
}

header nav a {
    text-decoration: none;
    color: var(--color1);
    margin-right: 5px;
    font-size: 24px;
}

header nav a:hover {
    color: var(--color2);
}

/* filme destaque */
.filme-destaque {
    font-size: 16px;
    background: linear-gradient(rgba(67, 93, 84, .1), rgba(67, 93, 84, .5)), url('../img/Voyagedanslalune1.jpg');
    background-size: cover;
    color: var(--color9);
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-destaque .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.filme-destaque .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-weight: 100;
    color: var(--color1);
}

.botao {
    background-color: var(--color2-transparent);
    border: none;
    color: var(--color1);

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .5s ease all;
    font-size: 15px;
}

.botao:hover {
    background-color: var(--color1);
    color: var(--color2);
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

/* filmes populares */
.carousel-movies {
    background-color: var(--color4);
}

.carousel-background {
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
    max-width: 1600px;
}

.carousel-movies h3 {
    /*titulo*/
    padding-left: 15px;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 5px;
    cursor: default;
    font-weight: 100;
}

.carousel-movies .item {
    height: 300px;
    cursor: pointer;
}

.carousel-movies img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    padding: 15px 0px;
    font-size: 20px;
    background-color: var(--color6);
}