:root {
    --vermelho: #e50914;
    --preta: #141414;

    --color1: #96c5bf;
    --color2: #435d54;
    --color3: #9d8863;
    --color4: #d0cdb2;

    --color5: #393939;
    --color6: #c47c63;
    --color7: #645a41;
    --color8: #898055;
    --color9: #bfbdb0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color5);
    font-family: 'Arial', Times, serif;
    color: var(--color1);
}

header {
    text-align: left;
    font-size: 32px;
    margin: 10px 50px;
}

#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

i {
    width: auto;
    color: var(--color1);
    cursor: pointer;
}